{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center" id="labelSignup">Sign up</h1>
    <form action=""  method="post">
        {% csrf_token %}

        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ form.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% for elem in form %}
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label text-center">{{ elem.label }}</label>
                <div class="col-sm-8">
                    {{ elem }}
                </div>
            </div>
        {% endfor %}

        <div class="form-group row">
            <div class="col-sm-4 text-center">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </div>
    </form>

{% endblock %}


{% block script %}
    <script>
        document.getElementById("id_username").classList.add('form-control');
        document.getElementById("id_password1").classList.add('form-control');
        document.getElementById("id_password2").classList.add('form-control');
    </script>
{% endblock %}